<header class="dashboard-header">
      <div class="logo">
        <a href="#">CSB</a>
        <div class="search_box">
          <input type="text" placeholder="Search" />
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <div class="dashboard-header-icons">
        <i class="fas fa-bell"></i>
        <div class="account">
          <img src="images/team-2.jpg" alt="" />
          <h5>{{user.firstname}} {{user.lastname}}</h5>
        </div>
      </div>
    </header>

    <div class="dashboard-container">
      <nav>
        <div class="side_navbar">
          <span class="nav-menu-style">Main Menu</span>
          <a href="/dashboard" class="active">Dashboard</a>
          <a href="/transactions">Transactions</a>
          <a href="/profile">Profile</a>
          <a href="/logout">Logout</a>

         
        </div>
      </nav>