<!DOCTYPE html>
<html>

<head>
  {{>headerLinks}}

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="images/hero-bg.png" alt="">
      </div>
    </div>

    {{>semiHeader}}
    
    <div class="container">
        <div class="error-message">
            <h1>
            {{errorMessage}}
            </h1>
        </div>        
    </div>
  </div>

  {{>footer}}

  {{>footerLinks}}


  
  

</body>

</html>