<!DOCTYPE html>
<html>

<head>
  {{>headerLinks}}
</head>

<body class="sub_page">

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="images/hero-bg.png" alt="">
      </div>
    </div>

    {{>header}}
    
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            Our bank provides a variety of solutions to manage your finance which you can explore.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Savings Account
                </h5>
                <p>
                  A virtual vault that holds your money.
                  Deposit your money, safe with the bank.
                  Withdraw these funds when you need.
                  <!-- You need a Savings Bank Account to make and receive payments, pay your credit bills, make investments, etc. You can use your account to pay for utilities such as electricity, and even mobile phone recharges. -->
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Current Account
                </h5>
                <p>
                  Account meant for business needs.
                  Higher number of monthly transactions.
                  Any time withdrawal facility 
                  <!-- A current account holder can deposit cash or cheques at different bank branches which makes it extremely convenient to collect payments from small customers.
                  Availing an overdraft facility against a current account is easy. Having an overdraft helps meet the working capital needs of the business at any point in
                  Customized Current account variants are available basis type of entity/ business/ account holder. For example, HDFC Bank has a distinct type of current account for trusts, societies, associations, clubs, etc. which offers free cash deposit of up to Rs. 50 lakh per month. This is very beneficial when associations have to collect fees from their members or students and have several deposits at a few select times during the year.
                  Current account holders get a separate cheque balance that can be used every month. In a savings account, the cheques are issued for an entire year, and the account holder has to pay charges for a new chequebook. However, that is not the case with current account holders as they get a monthly allowance of cheques at no charge. This helps make payments to vendors hassle-free.
                  With phone and SMS banking, it is possible to get SMS updates about transactions and balances. There is no need to visit the bank branch to find out details. -->
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Loan Account
                </h5>
                <p>
                  Instant loan and finance services.
                  Much low interest rates.
                  Loan for fulfulling your needs.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  {{>info}}

  {{>footer}}

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>